PGUSER="cinephile_yph9_user"
PGPASSWORD="36xHIFHvBegNeOUFRyuCZP0mlg4sXxBM"
PGHOST="dpg-d7hsq9reo5us73dmakf0-a.oregon-postgres.render.com"
PGPORT=5432
PGDATABASE="cinephile_yph9"
NODE_ENV=development
PORT=3000

TMDB_API_KEY=your_tmdb_api_key
JWT_SECRET=your_random_jwt_secret

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:3000/api/auth/github/callback
FRONTEND_URL=http://localhost:5173
