PGUSER="cinephile_yph9_user"
PGPASSWORD="36xHIFHvBegNeOUFRyuCZP0mlg4sXxBM"
PGHOST="dpg-d7hsq9reo5us73dmakf0-a.oregon-postgres.render.com"
PGPORT=5432
PGDATABASE="cinephile_yph9"
NODE_ENV=development
PORT=3000
